*{margin:0;padding:0;}
.header{
	width:100%;
	height:60px;
	background-color:#5fc0cd; 
	position:fixed;
}
.img1{
	width: 38px; height: 40px;
    background: url('images/css_sprites.png') -71px -110px;
	position: fixed;
	margin:10px;
	right:20px;
}
.bot{
	width: 220px;
	height:40px;
	position: absolute;
	margin-top:-20px;
	margin-left: -110px;
	left: 50%;
	top: 50%;
}
.bu1{
	width:100px;
	height: 40px;
	color:#FFF;
	border-radius:5px;
	outline:none;
	font-size: 20px;
	background-color:#55a8b3;
}
.bu2{
	width:100px;
	height: 40px;
	color:#FFF;
	border-radius:5px;
	outline:none;
	font-size: 20px;
	color: #55a8b3;
	background-color:#FFF;
	position: absolute;
	left:95px;
}
/*=================main中部下拉菜单================*/
.select1{
	width:100%;
	height:40px;	
	display: flex;
	position: fixed;
	top:60px;
}
select{
	font-size: 18px;
	width: 100%;
	height:40px;
	margin: 0;
	border-color:#e1e5e7;
	border-top:none;
	text-align-last: center;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
	background:url(images/jiantou.png) #FFF;
	background-repeat: no-repeat;
	background-position:98% center;
}
/*=====================内容======================*/
.container{
	width:100%;
	padding:100px 0;
}
.text{
	font-size:16px;
	width:100%;
	height: 100px;
	padding-left:10px;
	display: flex;
	justify-content:space-between;
	border-bottom: 1px solid #e1e5e7;

}

.text>ul{
	width:65%;
	line-height: 33px;
	list-style-type: none;
}
.text>ul>li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.icon1,
.icon2,
.icon3{
	display: inline-block;
	width:24px;
	height:29px;
	background-image:url(images/css_sprites.png);
	vertical-align: middle;
	
}
.icon1{background-position: -129px -110px;}
.icon2{background-position: 4px 5px;}
.icon3{background-position:  -171px -9px;}

.spend{
	margin-right: 5px;
	font-size: 16px;
	color:red;
	line-height:100px;
}
.img2{
	float: right;
	margin:38px 0;
	width: 14px; height: 24px;
    background: url('images/css_sprites.png') -174px -53px;
}
.name1,.name3{color:#999;}

/**/
.footer{
	height:80px;
	width:100%;
	border-top: 1px solid #dbe5e7;
	background-color:#f8fafb;
	display:flex;
	justify-content:center;
	align-items: center;
	position: fixed;
	bottom:0;
}
.footermid{
	height:80px;
}

.img3{
	margin:0 auto; 
 	width: 46px; height: 40px;
    background: url('images/css_sprites.png') -108px -10px;

}
.img4{
	margin:0 auto; 
	width: 78px; height: 80px;
    background: url('images/css_sprites.png') -10px -10px;
}
.img5{
	margin:0 auto; 
	width: 41px; height: 40px;
    background: url('images/css_sprites.png') -10px -110px;
}
p{	
	margin: 0;
	font-size: 16px;
	color: #5fc0cd;
	font-weight: bold;
}
.footer>div{
	flex:1;
	text-align:center;
}