*{letter-spacing:1px; padding:0;font-family: "Microsoft YaHei";}
body{background-color: #fafafa; overflow-x:hidden;}
P{text-indent: 2em;}

.carousel-indicators{ width: 50px;margin: 10px 0 0 -20px;}
.header{background-color: #fff;padding:0 10%;}
.headertop{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 35px;
	background-color: #FFF;
}

@media all and (min-width: 1200px){
	.headertop{padding: 0 ;}
	.navbar{
		max-width:1200px;
		float: none !important;
		margin: 0 auto !important ;
	}
	#shownav{padding-right:0 !important;}

}


.phone{
	font-size: 14px;
	color:#29b078;
	margin:6px auto;
	position: absolute;
	float:left;
}
.login{
	height: 35px;
	line-height: 35px;
	position: absolute;
	right: 5%;
	display: none;
}
.login>a{color: #29b078;}
.img{
	width:100px;
	margin: 6px auto;
	display: flex;
	justify-content: space-around;
	float: right;
}

.img1{
	 width: 25px; height: 24px;
    background: url('css_sprites.png') -553px -206px;
}
.img2{
	 width: 25px; height: 24px;
    background: url('css_sprites.png') -553px -250px;
}
.img3{
	 width: 25px; height: 24px;
    background: url('css_sprites.png') -553px -162px;
}
.headermiddle{
	width: 100%;
	margin: 0;
	padding: 0 10%;
	background-color:#29b078;
	float: right;

}
.navbar{
	width: 100%;
	min-height: 85px;
	margin: 0;
 	border:none!important; 
 	float: right;
 	background-color: #29b078;
 	border-bottom:none;
}
.navbar-header{
	margin-top: 15px;
}
#shownav{
	margin-bottom: 0;
	font-size: 20px;
	border-top: none;
	float: right;
	
}
#shownav li a{height: 85px;color: #fff;line-height: 55px;}
#shownav li a:hover{border-bottom: 2px solid #FFF;}

.img0{
	width:113px ;height: 54px;
	background:url("01.png") no-repeat;
	float: left;
	margin:16px 0 0 0;
}
@media all and (max-width: 462px){
	.img0{margin:16px 0 0 0;}
}
@media all and (max-width: 767px){
	.headermiddle{padding: 0;margin: 0;}
	.img0{position: absolute;top: 0;}
	#shownav li a{z-index: 5;}
	#shownav{

		text-align: center;
		margin-left: 0;
		margin-right: 0; 
		width: 100%;
		padding: 0;}
	.login{display: block;}
	.phone{display: none;}
	.img{display: none;}
}
/*=================container部分==============*/

.container{
	width: 100%;
	margin-bottom: 100px;
	padding: 0;
}
.container>img{
	width: 100%;
	background-size: cover;
}
.containar-main{
	width: 80%;
	max-width: 1200px;
	text-align: left;
	font-size: 16px;
	margin:0 auto;
}
.container-top{
	width: 100%;
	
	line-height: 60px;
}
.container-mid{
	display: flex;

}
.container-midleft{
	width: 25%;
	height:600px;
	background-color: #fff;
	border: 1px solid #eeeded;
}
.container ul{list-style-type:none;}
.container li{
		width: 103px;
		height: 21px;
		margin: 30px auto;

	}
.yuandian{
	width: 12px;
	height: 12px;
	border:1px solid #f9a372 ;
	border-radius: 8px;
	display: inline-block;
}

.container-midleft>span{
	display: block;
	width:100%;
	height: 70px;		
	font-weight:bold;
	line-height: 70px;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}
.container a{
	color: #29b078;text-decoration: none;
}
.container a:hover{
	color:#f99f6c;
}
.container a:hover .yuandian{background-color:#f99f6c;}
.container-midright{
	width: 75%;
	color: #999;
	margin-left: 2%;
	background-color: #fff;
	border: 1px solid #eeeded;
}
.midright-one{
	height: 180px;
	padding: 0 30px 0 30px;
	display: flex;
	border-bottom: 1px solid #e6e6e6;
	align-items: center;
}
.midright-two{
	padding: 30px;
}
.tudou{
	width: 150px;
	height: 44.4px;
	margin:0 30px;
}
.addimg2{
	width:125px;
	height: 37px;
	background-image:url(03.png);
	transform: scale(1.2); 
}
p{margin-bottom: 40px;}

@media all and (max-width:1110px){
	.container-midleft{	
	width:120px; 
	}
	.container-midright{
	width:100%;
	}
}
@media all and (max-width:832px){
	.container-mid{
		display: block;
	}
	.container-midleft{	
	width:100%;
	height: 300px; 
	}
	.container-midright{
		width: 100%;
		margin: 40px 0;
	}
	.container ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.container ul li{
		width: 33%;
		text-align: center;
	}
	.midright-one{
		padding: 30px;
		height:100%;
		display: block;
	}
	.tudou{
		width: 100%;
		margin:10px 0;
		display: flex;
		justify-content: center;
	}
}
@media all and (max-width:375px){
	.container-midleft{height:600px;}
	.container ul{display: block;}
	.container ul li{width: 103px; text-align: left;}
}
/*==================footer==================*/


.footertwo{
	width: 100%;
	height:250px; 
	position: relative;
	bottom: 0;
	background-color: #29b078;
}
.back{
	display: flex;
	width:80%;
	max-width: 1200px;
	margin: 0 auto;
	
}
.footerleft{
	height: 180px;
	margin-top: 40px;
	flex: 1;
	
}
.leftone{
	font-size: 20px;
	color:#efefef;
	margin: 10px 0;
}
.lefttwo a,
.lefttwo{
	color:#efefef;
	margin: 70px 0;
	font-size: 16px;
}

.footerright{
	height: 180px;
	margin-left: 30px;
	margin-top: 30px;
	flex: 1;
	
}
.rightone{
	font-size: 20px;
	color:#efefef;
	margin: 20px 0;
}
.righttwo,
.righttwo a{
	color:#efefef;
	font-size: 16px;
	margin: 24px 0;
}
.rightthree,
.rightthree a{
	color:#efefef;
	font-size: 16px;
}

.footertwo a:hover{
	color:red;
	text-decoration: none;
}
.weixin{
	height: 180px;
	margin-top:30px;
	flex: 1; 
	
}
.erweima{
	color:#fff;
}
.img18{
	width: 92px; height: 92px;
    background: url('css_sprites.png') -425px -266px;
}
.box2{
	float: right;
	margin-top: 20px;
}
.number{
	width: 100%;

	border-top: 1px solid #fff;
	color: #fff;
	background-color: #26a26f;
	position: relative;
	bottom:0;
	text-align:center;
}
@media all and (max-width: 1200px){
	.back{width: 100%;}
	.box2{margin-right: 30px;}
}
@media all and (max-width: 750px){
	.footertwo{
	width: 100%;
	height:600px; 
	position: relative;
	bottom: 0;
	background-color: #29b078;
	}
	.back{
			display: block;
	}
	.footerleft{
		text-align: center;
	}
	.footerright{
		margin: 0;
		text-align: center;
	}
	.weixin{
		display: flex;
		justify-content:center;
	}
	.box2{margin: 0;}

}
