
body{margin:0;background:#eff0f4;}
a{text-decoration:none;}
$background-color1:#5fc0cd;
$size-color:#fff;
$header:50px;
$size:18px;
$border:2px solid #eaedee;
@mixin font{
	color:#fff;
	a{color:#fff;}
	font-family:"STHeitiSC";
	font-weight:bold;
}
@mixin input-style{
	font-size:16px;
	border:none;
	outline:none;
}
@mixin button{
	width:100%;
	height:50px;
	background-color:#5fc0cd;
	border:none;
	outline:none;
}
// ============================
.header{ 
	width:100%;
	height:$header;
	display:flex;
	justify-content:center;
	
	margin-bottom:15px;
	line-height:$header;
	background-color:$background-color1;
	.close,
	.login,
	.register{
		@include font;
		font-size:$size;
	}
	.close{
		position:absolute;
		left:2%;
	}
	.register{
		position:absolute;
		right:2%;
	}
	.login{font-size:$size+4px;}
}
.container{
	width:100%;
	margin-bottom:15px;
	.phone{
		width:100%;
		margin-bottom:15px;
		display:flex;
		align-items:center;
		background-color:$size-color;
		height:55px;
		.img1{
			width: 29px; height: 41px;
			border-right:$border;
			padding-right:17px;
			margin-left:13px;
			background: url('css_sprites.png') -59px -10px;
			transform:scale(0.8);
		}
		input{
			@include input-style;
		}

	}
	.password{
		width:100%;
		display:flex;
		align-items:center;
		background-color:$size-color;
		height:55px;
		.img2{
			width: 29px; height: 43px;
			border-right:$border;
			padding-right:17px;
			margin-left:13px;
 			background: url('css_sprites.png') -10px -10px;
 			transform:scale(0.8);
		}
		input{
			@include input-style;
		}
	}
}
.footer{
	width:100%;
	button{
		@include button;
		@include font;
		font-size:$size+4px;
		margin-bottom:10px;
	}
	a{
		float:right;
		color:$background-color1;
		margin-right:10px;
	}
}

