body{margin:0;}
#APP{
    background-color:#eff0f4;
    width:100vw;
    height:100vh;
}

/* app的header main 基本设置*/
header{
    position:fixed;
    top:0;
    background-color:#5fc0cd;
    height:50px;
    width:100%;
    text-align:center;
}
main{
    position: absolute;
    top:50px;
}
/*注册按钮*/
.register{
    color:#FFF;
    position:fixed;
    right:20px;
}
/*关闭按钮*/
.closse{
    color:#FFF;
    position:fixed;
    left:20px;
}
/*头部中间的登录二字*/
span{
    line-height: 50px;
    color:#FFF;
    font-size:24px;
    position:fixed;
    left:0;
    right:0;
    margin:0 auto;
}
/*app中部，密码和账号输入部分*/
img{float:left;}
.box{
    background-color:#FFF;
    width:100vw;
    height:50px;
    margin-top:10px;
}
/*密码账号框*/
p{margin-bottom:10px;}

input{
    float:left;
    width:70%;
    margin-top:16px;
    margin-left:10px;
    border:none;
    font-size:1rem;
    outline:none;
}
/*登陆按钮*/
.logon{
    border:none;
    background-color:#5fc0cd;
    width:100vw;
    height:50px;
    color:#FFF;
    margin:0;
	font-size:16px;
}
/*右下角忘记密码按钮*/
a{
    color:#5fc0cd;
    float:right;
    text-decoration:none;
	line-height:3rem;
    
}