<link rel="stylesheet" type="text/css" href="css/Article.css">

<div class="Article" ng-controller="ArticleCtrl">
	<div class="top">
		<form class="form-horizontal">
            <div class="form-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">类&emsp;&emsp;型</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="type">
                                    <option value="">全部</option>
                                    <option value="0">首页Banner</option>
                                    <option value="1">找职位Banner</option>
                                    <option value="2">找精英Banner</option>
                                    <option value="3">行业大图</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4">发布时间</label>
                            <div class="col-md-8 ">
                                <input type="text"
                                    class="form-control"
                                    style="background-color: #fff !important"
                                    value="" ng-click="openStart()"
                                    uib-datepicker-popup="{{format}}"
                                    ng-model="startDate"
                                    ng-model="maxDay"
                                    is-open="popupStart.opened"
                                    readonly="readonly"
                                    ng-required="true"
                                    close-text="关闭"
                                    clear-text="清空"
                                    current-text="今天"
                                    alt-input-formats="altInputFormats"
                                    datepicker-options="{maxDate:maxDay,showWeeks:false}"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-4" style="text-align: center;">一</label>
                            <div class="col-md-8 ">
                                <input type="text"
                                    class="form-control"
                                    style="background-color: #fff !important"
                                    value="" ng-click="openEnd()"
                                    uib-datepicker-popup="{{format}}"
                                    ng-model="endDate"
                                    ng-model="today"
                                    is-open="popupEnd.opened"
                                    readonly="readonly"
                                    ng-required="true"
                                    close-text="关闭"
                                    clear-text="清空"
                                    current-text="今天"
                                    alt-input-formats="altInputFormats"
                                    datepicker-options="{minDate:startDate,maxDate:today,showWeeks:false}"/>
                            </div>
                        </div> 
                    </div>            
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">状&emsp;&emsp;态</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="status" >
                                    <option value="">全部</option>
                                    <option value="1">上线</option>
                                    <option value="2">草稿</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 pull-right ">  
                            <button type="button" class="btn btn1 btn-danger" ng-click="clear()">清空</button>
                            <button type="button" class="btn btn1 btn-success" ng-click="submit()">搜索</button>
                    </div>
                </div>

            </div>
	    </form>
	</div>
	<div class="mid">
		<div class="title">
			Article列表
			<button type="button" class="btn btn2 btn-success" ng-click="add()">+添加</button>
		</div>
		<div class="inner">			
			<table class="table" style="margin-bottom: 0;">
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>类型</th>
						<th>发布时间</th>
						<th>修改时间</th>
						<th>发布者</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in list">
						<td>{{$index + 1}}</td>
						<td>{{x.title}}</td>
						<td>{{x.type|type1}}</td>
						<td>
                            {{x.createAt|date:"yyyy-MM-dd"}}
                            <br/>
                            {{x.createAt|date:"HH-mm-ss"}}
                        </td>
						<td>
                            {{x.updateAt|date:"yyyy-MM-dd"}}
                            <br/>
                            {{x.updateAt|date:"HH-mm-ss"}}
                        </td>

						<td>{{x.author}}</td>
						<td>{{x.status|status1}}</td>
						<td>
                            <button class="btn-transparent" ng-click="onoffline()">{{x.status|btn1}}</button>   
                            <button class="btn-transparent" ng-click="revise()">编辑</button>
                            <button class="btn-transparent" ng-click="delete()">删除</button>
                                         
                        </td>
					</tr>					
				</tbody>
			</table>
		</div>
    </div>
    <div class="pagination">
        <div>
            每页显示
            <input type="text" class="input" ng-model="size" oninput="value=value.replace(/[^\d]/g,'')"/>
            <!-- oninput为用户想表单输入时执行,将所有输入的非数字转换为空"" -->
            条
        </div>
        <ul uib-pagination 
            total-items="totalItems" 
            ng-model="nowPage" 
            max-size="5" 
            first-text="首页" 
            previous-text="上一页" 
            next-text="下一页" 
            last-text="尾页" 
            boundary-links="true" 
            boundary-link-numbers="true"
            items-per-page="ulsize"
            ng-change="change()">
        </ul>
        <div>
            跳转至
            <input type="text" class="input" ng-model="inputPage" oninput="value=value.replace(/[^\d]/g,'')"/>
            <!-- oninput为用户想表单输入时执行,将所有输入的非数字转换为空"" -->
            页
        </div>
        <button class="btn btn3 btn-info" ng-click="submit()">确定</button>
    </div>
    <!-- 模态框 模态框 模态框 模态框 模态框 模态框 模态框 模态框 模态框 模态框 模态框 -->
<div class="modal" id="modal-onoffline" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">提示</h3>
            </div>
            <div class="modal-body">
                <p style="color: red;">{{sta()}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="yes()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
