*{margin:0;padding: 0; word-spacing:1px;letter-spacing: 1px; }
body{background-color:#29bde0 ;}
/*	=============header =================*/

.top{
	width: 100%;
	height: 60px;
	background-color:#29bde0 ;
	text-align: center;
	font-size: 24px;
	color:#FFF;
	line-height: 60px;
	position: fixed;
	top:0;
	z-index: 4;
}
.img1{
	width: 39px; height: 40px;
    background: url('css_sprites.png') -82px -10px;
    transform: scale(0.8);
    float: left;
    position: fixed;
    top:10px;
    left:10px;
}
.img2{ 
	width: 36px; height: 39px;
	background: url('css_sprites.png') -10px -82px; 
	transform:scale(0.8);
	float: right;
	position: fixed;
	top:10px;
	right: 10px;
}
.mid{
	width: 100%;
	height:50px;
	margin-top:60px;
	background-color:#b9e9f5;
	font-size: 16px;
	line-height: 50px;
}
.mid>span{
	display: block;
	position: absolute;
	z-index: 3;
}
audio{
	width: 60px;
	height:35px;
	position: absolute;
	top:70px;
	right:5px;
	transform:scale(0.7) rotate(180deg); 
	z-index: 1;
}
.notv{
	width: 280px;
	height:50px;
	position: absolute;
	top:60px;
	background-color: #b9e9f5;
	right: 45px;
z-index: 2

	
}
.img3{
	
	width: 67px; height: 76.92px;
	background-color: red;
    background: url('css_sprites.png') -10px 0px #b9e9f5;
    transform: scale(0.65);
	position:absolute;
	top:46.55px;
	right:-10px;
	pointer-events: none;
	z-index: 3;
}
.sanjiaoxing{
	width:	0;
	height: 0;
	border: 10px solid;
	border-color:#b9e9f5 transparent transparent transparent;
	margin-left: 40px;
}
.foot{

	margin-left: 40px;  
	font-size: 16px;
	color: #FFF;
	margin-bottom: 20px;
}
/*==============container===============*/
.c{margin-bottom: 120px;width:79.99%;margin: 0 auto 120px auto;}
.container{
	width:100%;
	height:150px;
	margin:10px auto;
	display: flex;
	justify-content: space-around;
}


.box{
	width: 84px;	
	height:95px;
	margin:0 auto;
	text-align: center;
}
.one1{float: left;}
.one2{margin: 0 auto;}
.one3{float: right;}


.user{
	height: 120px;
	flex:1;
}
.user1{
	width: 80px;
	height: 65px;
	line-height: 65px;
	font-size: 20px;
	display: block;
	background-color: #f5c97b;
	border: 2px solid #FFF;
	border-bottom: none;
}
.user2{
	width: 80px;
	height: 25px;
	line-height: 25px;
	display: block;
	background-color: #83b09a;
	border: 2px solid #FFF;
	border-top:none; 
	color:#FFF;
	font-weight:;
}


.hover{
	width: 0;
	margin:5px auto 0 auto;
	padding:0 0 0 1px ; 
	display: flex;
	transition: width 1s ;
}
.img4,
.img5,
.img6,
.img7{
	width: 20.5px; height: 28px;
    background: url('css_sprites.png') #FFF;
    transform: scale(0.95);
}
.img4{background-position: -67px -82px;}
.img5{background-position: -145px -11px;}
.img6{background-position:-145px -60px;}
.img7{background-position: -14px -141px;}
.box:hover .hover{width:84px;}
/*===================footer==================*/
.oneee{
	width: 100%;
	height:120px;
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: center;
	align-items: center;
	
}
.footer{
	width:80%;
	height: 120px;
	background-color: #29bde0;
	border-top: 1px solid #FFF;
}
.fot{
	width: 80%;
	height: 60px;
	margin:30px 10%;
	background-color: #fbb435;
	text-align: center;
	line-height: 60px;
	color: #FFF;
	font-size: 25px;
	border-radius: 5px;
	border:none;
}