* {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei"; 
}

body {
  background-color: #fafafa;
  overflow-x: hidden; }

a {
  color: #000;
  text-decoration: none; }


    .lunbo1{
      width:500%;
      height: 31.3vw;
      position: absolute;
      transition: left linear 0.5s;
      
    }
    .lunbo-img1{
      width: 20%;
      height: 31.3vw;
      position: relative;
      float: left;
      background:url("1.png") no-repeat;
      background-size:contain;
    }
    .lunbo-img2{
      width: 20%;
      height: 31.3vw;
      position: relative;
      float: left;
      background:url("2.png") no-repeat;
      background-size:contain;
    }
    .lunbo-img3{
      width: 20%;
      height: 31.3vw;
      position: relative;
      float: left;
      background:url("3.png") no-repeat;
      background-size:contain;
    }
    #btn1,#btn2{
      position: absolute;
      width: 15%;
      height: 30vw;
      background:transparent; 
      cursor: pointer;
    }
    #btn2{right: 0;}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 35vw;
}
  .container .row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    .container .row .last {
      border-left: 1px dashed #999; }
      .container .row .last .textlast1,
      .container .row .last .textlast {
        width: 150px;
        margin: 0 auto; }
        .container .row .last .textlast1 .text3,
        .container .row .last .textlast .text3 {
          margin: 5px auto;
          color: #999; }
        .container .row .last .textlast1 span,
        .container .row .last .textlast span {
          color: #29b078;
          font-weight: bold; }
        .container .row .last .textlast1 .img7,
        .container .row .last .textlast .img7 {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url("css_sprites.png") -598px -162px; }
      .container .row .last .textlast1 {
        margin-top: 25px; }
    .container .row .midone .text1 {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      line-height: none; }
    .container .row .midone .text2 {
      width: calc(300/12%);
      padding: 0 20px;
      margin: 5px auto;
      color: #999; }
    .container .row .midone .img4 {
      width: 44px;
      height: 64px;
      background: url("css_sprites.png") -553px -78px;
      margin: 0 auto; }
    .container .row .midone .img5 {
      width: 60px;
      height: 64px;
      background: url("css_sprites.png") -553px -10px;
      margin: 0 auto; }
    .container .row .midone .img6 {
      width: 52px;
      height: 64px;
      background: url("css_sprites.png") -420px -378px;
      margin: 0 auto; }
  @media all and (min-width: 991px) {
    .container .midone,
    .container .last {
      width: 24.5%;
      height: 200px; } }
  @media all and (max-width: 991px) {
    .container .midone,
    .container .last {
      width: 49.5%;
      height: 200px; } }
  @media all and (max-width: 768px) {
    .container .midone,
    .container .last {
      width: 100%;
      height: 200px;
      text-align: center;
      border-left: none !important; } }
  .container .name {
    width: 100%;
    margin: 80px 0 30px 0;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: bold;
    line-height: none; }
  .container .two {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .two .midtwo {
      width: 300px;
      height: 70px;
      padding: 0; }
      .container .two .midtwo .box1 {
        width: 292.5px;
        height: 70px;
        margin: 0 auto; }
        .container .two .midtwo .box1 .yuan {
          float: left;
          width: 55px;
          height: 55px;
          font-size: 16px;
          font-weight: bold;
          color: #29b078;
          line-height: 55px;
          text-align: center;
          border-radius: 50%;
          border: 2px solid #e7e7e7;
          background-color: #fff; }
        .container .two .midtwo .box1 .text4 {
          width: 200px;
          float: left;
          font-size: 16px;
          font-weight: normal;
          color: #999;
          line-height: none;
          margin-top: 10px;
          padding-left: 10px; }
        .container .two .midtwo .box1 .img8 {
          width: 23px;
          height: 19px;
          background: url("css_sprites.png") -553px -294px;
          float: right;
          position: relative;
          top: 20px; }
  @media all and (max-width: 1200px) {
    .container .two {
      width: 780px;
      margin: 0 auto; } }
  @media all and (max-width: 780px) {
    .container .two {
      width: 300px;
      margin: 0 auto; } }
  .container .student {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container .student a:hover {
      color: #000;
      text-decoration: none; }
    .container .student a:hover .intro {
      color: #29b078; }
    .container .student .three {
      width: 80%;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 5px; }
      .container .student .three .img9 {
        width: 108px;
        height: 108px;
        margin: 10px auto 40px auto;
        background: url("css_sprites.png") -425px -10px; }
      .container .student .three .img10 {
        width: 108px;
        height: 108px;
        margin: 10px auto 40px auto;
        background: url("css_sprites.png") -138px -378px; }
      .container .student .three .img11 {
        width: 108px;
        height: 108px;
        margin: 10px auto 40px auto;
        background: url("css_sprites.png") -425px -138px; }
      .container .student .three .img12 {
        width: 108px;
        height: 108px;
        margin: 10px auto 40px auto;
        background: url("css_sprites.png") -10px -378px; }
      .container .student .three .name2 {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        line-height: none;
        text-align: center;
        margin: 20px 0; }
      .container .student .three .intro {
        width: 70%;
        font-size: 16px;
        font-weight: normal;
        color: #999;
        line-height: none;
        margin: 0 auto 40px auto;
        color: #999; }
  .container .dian {
    height: 20px;
    margin: 20px auto 100px auto;
    display: flex;
    justify-content: center; }
    .container .dian .dian1,
    .container .dian .dian2 {
      width: 20px;
      height: 20px;
      margin: 0 3px;
      border: 1px solid #e2e2e2;
      border-radius: 10px; }
    .container .dian .dian1 {
      background-color: #29b078; }
    .container .dian .dian2 {
      background-color: #fff; }
  @media all and (max-width: 1024px) {
    .container .student {
      flex-direction: column; }
      .container .student .three {
        margin-bottom: 20px; } }
  .container .w5out {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container .w5out .w5 {
      width: 19.5%;
      min-width: 188px;
      height: 200px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0.25%; }
      .container .w5out .w5 .img13 {
        width: 184px;
        height: 184px;
        background: url("css_sprites.png") -221px -10px; }
      .container .w5out .w5 .img14 {
        width: 191px;
        height: 191px;
        background: url("css_sprites.png") -10px -10px; }
      .container .w5out .w5 .img15 {
        width: 124px;
        height: 124px;
        background: url("css_sprites.png") -267px -221px; }
      .container .w5out .w5 .img16 {
        width: 62px;
        height: 64px;
        background: url("yun.png"); }
      .container .w5out .w5 .img17 {
        width: 134px;
        height: 69px;
        background: url("css_sprites.png") -266px -378px; }
    .container .w5out .w5:hover {
      box-shadow: 2px 2px 4px #333; }

@media all and (max-width: 991px) {
  .w5out {
    background-color: transparent !important;
    flex-direction: column; }
    .w5out .w5 {
      width: 85% !important;
      margin: 10px 7.5% !important;
      height: 200px;
      background-color: #fff;
      padding: 0; }
    .w5out .last {
      border: none; }
    .w5out .img8 {
      right: 10px; }
    .w5out .midone {
      text-align: center; }
    .w5out .three {
      margin-bottom: 20px; } }

/*# sourceMappingURL=14.css.map */
