body{margin:0;padding:0;}
$font-size:16px;
@mixin flex{
	display:flex;
	justify-content:center;
	align-items:center;
}
@mixin button($background-color){
	border:none;
	background-color:$background-color;
	border-radius:8px;
}
// =======================================
.header{
	width:100%;
	height:60px;
	@include flex;
	background-color:#5fc0cd;
	position:fixed;
	top:0;
	z-index:5;
	button{   
		width: 100px;
	    height: 40px;
	 	@include button(#55a8b3);
	 	font-size:$font-size+4px;
	 	font-weight:bold;
	 	color:#fff;
	 	cursor:pointer;
	 }
	.bu1{
		color:#5fc0cd;
		background-color:#FFF;
		position:relative;
		left:15px;

	}
	.img1{
		width: 29px; height: 30px;
    	background: url(images/css_sprites.png) -66px -100px;
    	position: fixed;
		right:15px;
		top:15px;
    }
}
// ============================================
.select1{
	margin-top:60px;
	display:flex;
	select{
		flex:1;
		height:40px;
		font-size:$font-size;
		text-align-last:center;
		border-color:#e1e5e7;
		background:url(images/jiantou.png) #FFF no-repeat;
		appearance:none;
    	-moz-appearance:none;
    	-webkit-appearance:none;
		background-position:98% center;
	}

}
.text{
	width:100%;
	height:90px;
	border-bottom:1px solid #ccc;
	@include flex;
	justify-content:space-between;
	
	ul{
		max-width:calc(100% - 170px);
		padding-left:10px;
		li{
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			.icon1,
			.icon2,
			.icon3{
				display: inline-block;
				width:30px;
				height:27px;
				background-image:url(images/css_sprites.png);
				transform:scale(0.8);
				vertical-align:middle;
			}
			.icon1{background-position: -115px -101px;}
			.icon2{height:20px; background-position: 8px 10px;}
			.icon3{background-position:  -158px -11px;}
			}
			.name1,
			.name3{color:#999;}
		}
	}
	.spend{
		color:red;
		position:relative;
		right:0;
		min-width:120px;
		.img2{
			width: 14px; height: 24px;
  			background: url('images/css_sprites.png') -160px -53px;
  			position:absolute;
  			right:15px;
  			top:0px;
  		}
	}
// "======================================"
.footer{
	width:100%;
	height:70px;
	@include flex;
	justify-content:space-around;
	position:fixed;
	bottom:0;
	background-color:#f8fafb;
	button{
		width:120px;
		height: 70px;
		text-align: center;
		font-size: $font-size+2px;
		background-color: #f8fafb;
		border:none;
		color:#5fc0cd;
		font-weight: bold;
		.img3{
			margin:0 auto; 
		 	width: 40px; height: 35px;
		    background: url('images/css_sprites.png') -100px -10px;
		}
		.img4{
			margin:0 auto; 
			width: 70px; height: 70px;
		    background: url('images/css_sprites.png') -10px -10px;
		}
		.img5{
			margin:0 auto; 
			width: 36px; height: 35px;
		    background: url('images/css_sprites.png') -10px -100px;
		}
		.three{color:#999;}
	}
}